<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title=${#messages.msg('mycalendar.title')}">
<body>
<th:block layout:fragment="body">

    <div class="alert alert-info" role="alert">
        user: <th:block th:text="${user.subject}"></th:block>
        <br>allowed scopes: <th:block th:text="${scopes}"></th:block>
        <br><form method="post" th:action="@{/logout}">
              <button class="btn btn-outline-primary" type="submit">Logout</button>
            </form>
    </div>

    <p th:text="#{mycalendar.intro}">intro text</p>

    <div th:if="${connect_problem}" class="alert alert-danger" role="alert">
        Cannot connect to the My Calendar API. Start the Resource server!
    </div>

    <div th:if="${api_forbidden}" class="alert alert-danger" role="alert">
        My Calendar API returned HTTP status 403 Forbidden.
        <br>
        <br>
        WWW-Authenticate: <th:block th:text="${wwwAuthenticate}"></th:block>
    </div>
    <div th:if="${api_problem}" class="alert alert-danger" role="alert">
        My Calendar API returned an error:
        <pre>
        HTTP status code: <th:block th:text="${api_exception.code}"></th:block>
        response: <th:block th:text="${api_exception.responseBody}"></th:block>
        </pre>
    </div>

    <th:block th:if="${events!=null}">
        <p th:text="#{mycalendar.events.heading}">Your events:</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{mycalendar.events.start}">start</th>
                <th scope="col" th:text="#{mycalendar.events.end}">end</th>
                <th scope="col" th:text="#{mycalendar.events.title}">title</th>
                <th scope="col" th:text="#{mycalendar.events.description}">description</th>
                <th scope="col" th:text="#{mycalendar.events.location}">location</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e,i: ${events}">
                <th th:text="${i.count}" scope="row"></th>
                <td th:text="${#temporals.format(e.startTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(e.endTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${e.title}"></td>
                <td th:text="${e.description}"></td>
                <td th:text="${e.location}"></td>
            </tr>
            </tbody>
        </table>
    </th:block>

        <div>
        <!-- add new event form -->
        <form action="#" th:action="@{/mycalendar}" th:object="${eventForm}" method="post" id="f">
            <div class="errorbox" th:if="${#fields.hasErrors()}">
                Please fix the following errors:
                <ul>
                    <li th:each="err : ${#fields.errors()}" th:text="${err}" ></li>
                </ul>
            </div>
            <button type="submit" name="add"><th:block th:text="#{mycalendar.events.add}">Add event</th:block></button>
            <table>
                <tr>
                    <th><th:block th:text="#{mycalendar.events.start}">start</th:block>:</th>
                    <td>
                        <input type="date" th:field="*{startDate}">
                        <input type="time" th:field="*{startTime}">
                    </td>
                </tr>
                <tr>
                    <th><th:block th:text="#{mycalendar.events.end}">end</th:block>:</th>
                    <td>
                        <input type="date" th:field="*{endDate}">
                        <input type="time" th:field="*{endTime}">
                    </td>
                </tr>
                <tr>
                    <th><th:block th:text="#{mycalendar.events.title}">title</th:block>:</th>
                    <td><input type="text" th:field="*{title}" th:errorclass="error" size="15"></td>
                </tr>
                <tr>
                    <th><th:block th:text="#{mycalendar.events.description}">description</th:block>:</th>
                    <td><textarea type="text" th:field="*{description}" th:errorclass="error" size="15"></textarea></td>
                </tr>
                <tr>
                    <th><th:block th:text="#{mycalendar.events.location}">location</th:block>:</th>
                    <td><input type="text" th:field="*{location}" th:errorclass="error" size="15"></input></td>
                </tr>
            </table>
        </form>
        </div>

</th:block>
</body>
</html>